*.DS_Store
*.a
*.o
*.la
*.lo
*/.libs/*
*/.deps/*
Makefile*
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*/config.h.bak
*/futurerestore*
stamp-h1
